<!DOCTYPE html>

<html>
<head>
<title>AboutApp</title>
<link href="stylesheets/style.css" rel="stylesheet" type="text/css">
</head>


<body>
<% if (!user) { %>
        <div class="topnav">
                <a class="active" href="home">Home</a>
                <a href="about">About App</a>
                <a href="contatti">Contatti</a>
                <a href="signup">Signup</a>
                <a href="login">Login</a>
                <li style="float:right"><a href="/auth/facebook" style="background: blue">Facebook Login</a></li>
        </div>
<% } else { %>
            <div class="topnav">
                    <a class="active" href="home">Home</a>
                    <a href="about">About App</a>
                    <a href="contatti">Contatti</a>
                    <a href="profile">Profilo</a>
                    <a href="chat">Chat</a>
                    <li style="float:right"><a href="/logout" class="btn btn-default btn-sm">Logout</a></li>
            </div>
<% } %>

<div style="width:750px;height:180px;background-color:#ececec;padding:75px;margin-left:0,5%;margin-top:2%;">
<h1>AboutApp</h1>

<p>
Progetto per l'esame di Reti Di Calcolatori <br><br>

L'esame consiste nella progettazione e sviluppo di un applicazione web utilizzando NodeJS e framework Express. <br><br>

La pagina del corso si può trovare su <a href="https://piazza.com/class/jmkayw5u6h1f2">Piazza</a> nei corsi di  Fall 2018.<br>
</p>
</div>
</body>
</html>
