<!doctype html>
<html>

<head>
    <title>WebSocket Chat</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style2.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="http://code.jquery.com/jquery-3.0.0.slim.min.js"></script>
</head>

<body>
        <% if (!user) { %>
            <div class="topnav">
                    <a class="active" href="home">Home</a>
                    <a href="about">About App</a>
                    <a href="contatti">Contatti</a>
                    <a href="signup">Signup</a>
                    <a href="login">Login</a>
                    <li style="float:right"><a href="/auth/facebook"><img src="fb-login.jpg" width="155" height="18"></a></li>
            </div>
            <% } else { %>
                <div class="topnav">
                        <a class="active" href="home">Home</a>
                        <a href="about">About App</a>
                        <a href="contatti">Contatti</a>
                        <a href="profile">Profilo</a>
                        <a href="chat">Chat</a>
                        <li style="float:right"><a href="/logout" class="btn btn-default btn-sm">Logout</a></li>
                </div>
            <% } %>

    <form>
        <div id="name-div"> <!--<%= user.facebook.name %> -->
           <input id="name" name="name" autocomplete="off" autofocus placeholder="Enter your nickname" /> 
            <button>Submit</button>
        </div>
        <div id="welcome"></div>
        <ul id="messages"></ul>
        <div id="input-div">
            <input id="message" name="message" autocomplete="off" placeholder="Type your message here" />
            <button>Send</button>
        </div>
    </form>

    <script>
        websocket = new WebSocket("ws://localhost:8080/");
        $('form').submit(function() {
            name = $('#name').val() ? $('#name').val() : 'Anonymous';
            $('#name-div').hide();
            $('#welcome').text('Hello ' + name);
            websocket.send(JSON.stringify({
                name: name,
                message: $('#message').val()
            }));
            $('#message').focus();
            $('#message').val('');
            return false;
        });
        websocket.onmessage = function(evt) {
            $('#messages').append($('<li>').html(evt.data));
        };
        websocket.onerror = function(evt) {
            $('#messages').append($('<li>').text('<span style="color: red;">ERROR:</span> ' + evt.data));
        };
    </script>
</body>

</html>