
<!DOCTYPE html>
<html>
<head>
<title>Contatti</title>
<link href="stylesheets/style.css" rel="stylesheet" type="text/css">

</head>

<body>
<br>
<div class="topnav">
        <a class="active" href="home">Home</a>
        <a href="about">About App</a>
        <a href="contatti">Contatti</a>
        <a href="url_info">Info</a>
        <li style="float:right"><a href="login">Accedi con Facebook</a></li>
</div>

<div style="width:750px;height:180px;background-color:#ececec;padding:75px;margin-left:0,5%;margin-top:2%;">
<h1>Contatti</h1>
<p>Siamo degli studenti di Ingegneria Informatica e Automatica dell'Università Sapienza di Roma.</p>
<br>
<p> Daniele Iacomini -- iacomini.1706790@studenti.uniroma1.it </p>
<p> Damiano Ludovici -- ludovici.1697348@studenti.uniroma1.it </p>
<p> Riccardo Di Biasi --dibiasi.1694305@studenti.uniroma1.it  </p>
</div>
</body>
</html>
